{% extends "base_template.html" %}
{% block contenido %}

<div class="container-md w-80 mt-3 containericons text-center">
    <form class="containericons p-5 m-4 needs-validation formpatient textlogin" action ="/formpractices" method="POST">
        <table class="table table-bordered table-responsive mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col-md-1">
                        
                            <div>
                                {{ form.codigo.label }}
                                {{ form.codigo }}
                            </div>
                        </form>
                    </th>
                    <th class=" col-md-4 text-rigt">Práctica</th>
                    <th scope="col-md-2">Diente</th>
                    <th scope="col-md-2">Cara</th>
                    <th scope="col-md-2">Cantidad</th>
                </tr>
            </thead>
        </table>
        <div class="text-center mb-2">
            {{ form.submit(class="btn btnlogin") }}
        </div>
    </form>
</div>
{% endblock %}