{% extends "base_template.html" %}
{% block contenido %}

<div class="container-md w-80 mt-3 containericons text-center">
    <form class="containericons p-5 m-4 needs-validation formpatient textlogin" action ="/formpractices" method="POST">
        <table class="table table-bordered table-responsive mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col-md-1">
                        
                            <div>
                                {{ form.codigo.label }}
                                {{ form.codigo() }}
                            </div>
                    </th>
                    <th scope="col-md-2">
                            <div>
                                {{ form.diente.label }}
                                {{ form.diente }}
                            </div>
                    </th>
                    <th scope="col-md-2">
                        <div>
                            {{ form.cara.label }}
                            {{ form.cara }}
                        </div>
                    </th>
                    <th scope="col-md-2">
                        <div>
                            {{ form.cantidad.label }}
                            {{ form.cantidad }}
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="text-center mb-2">
            {{ form.submit(class="btn btnlogin") }}
        </div>
    </form>
</div>
{% endblock %}