{% extends "base_template.html" %}
    {% block contenido %}
        <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear mt-0">
            <div class="container">
                <a class="navbar-brand" href='{{ url_for("auth.login") }}' style="text-transform: uppercase;"> <img class="img-fluid d-none d-md-block" height="350" width="350" src="/static/images/logoblue.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>   
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active nav-link text-left">
                        {{ user_name }}
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href='{{ url_for("auth.logout") }}'>Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    <br>
    <br>
    <br>
    <div class="container-md d-md-flex">
        <div class="container-md col-sm-3 containericons text-center">
            <br>
            <div>
                <img class="img-fluid" src="/static/images/iconpatient.png" alt="">
            </div>
            <br>
            <div>
                <a href='{{ url_for("admin.formpatient") }}'><button type="button" class="btn btnlogin btn-light">Ingreso de Paciente</button></a>
            </div>
            <br>
            <br>
        </div>
        <div class="container-md col-sm-3 containericons text-center">
            <br>
            <div>
                <img class="img-fluid" src="/static/images/iconregister.png" alt="">
            </div>
            <br>
            <div>
                <a href='{{ url_for("admin.formfile") }}'><button type="button" class="btn btnlogin btn-light">Carga de Nueva Ficha</button></a>
            </div>
            <br>
            <br>
        </div>
        <div class="container-md col-sm-3 containericons text-center">
            <br>
            <div>
                <img class="img-fluid" src="/static/images/iconhealth.png" alt="">
            </div>
            <br>
            <div>
                <button type="button" class="btn btnlogin btn-light">Consultar Obra Social</button>
            </div>
            <br>
            <br>
        </div>
    </div>
    {% endblock %}